In [1]:
import pandas as pd
import numpy as np

## Solution
Identifying where there needs to be more focus on local production of food (vegetables in this case).

## Steps


- Load population of per county in the USA

- Load production of vegetables per county in the USA

- Load average vegetables consumption per county.

- Subtract production and consumption. There will be surplus and deficit.

- Find a way to match surplus and deficit, and to penalize for the distance.

## Assumptions

- Yield per acre is uniform accross farms.

## Data Exploration

In [2]:
local = pd.read_excel('data/DataDownload.xls',sheetname='LOCAL')
pop = pd.read_excel('data/DataDownload.xls', sheetname='Supplemental Data - County')

In [3]:
local.head()

,FIPS,State,County,DIRSALES_FARMS07,PCT_LOCLFARM07,PCT_LOCLSALE07,DIRSALES07,PC_DIRSALES07,FMRKT09,FMRKT13,...,BERRY_ACRESPTH07,SLHOUSE07,GHVEG_FARMS07,GHVEG_SQFT07,GHVEG_SQFTPTH07,FOODHUB12,CSA07,AGRITRSM_OPS07,AGRITRSM_RCT07,FARM_TO_SCHOOL
0,1001,AL,Autauga,25.0,6.0,0.6,100.0,2.01,2.0,1.0,...,NaN,0.0,0.0,0.0,0.0,0.0,2.0,7.0,228000.0,0.0
1,1003,AL,Baldwin,80.0,7.0,0.7,715.0,4.16,4.0,4.0,...,0.457136,1.0,0.0,0.0,0.0,0.0,13.0,18.0,124000.0,0.0
2,1005,AL,Barbour,18.0,2.9,0.0,11.0,0.37,2.0,3.0,...,NaN,0.0,0.0,0.0,0.0,0.0,1.0,27.0,163000.0,0.0
3,1007,AL,Bibb,12.0,5.7,NaN,46.0,2.14,1.0,1.0,...,0.279265,0.0,0.0,0.0,0.0,0.0,2.0,5.0,NaN,0.0
4,1009,AL,Blount,84.0,5.9,0.3,429.0,7.59,1.0,1.0,...,0.492386,0.0,2.0,NaN,NaN,0.0,7.0,10.0,293000.0,0.0

In [4]:
local.columns

Index([u'FIPS', u'State', u'County', u'DIRSALES_FARMS07', u'PCT_LOCLFARM07',
       u'PCT_LOCLSALE07', u'DIRSALES07', u'PC_DIRSALES07', u'FMRKT09',
       u'FMRKT13', u'PCH_FMRKT_09_13', u'FMRKTPTH09', u'FMRKTPTH13',
       u'PCH_FMRKTPTH_09_13', u'FMRKT_SNAP13', u'PCT_FMRKT_SNAP13',
       u'FMRKT_WIC13', u'PCT_FMRKT_WIC13', u'FMRKT_WICCASH13',
       u'PCT_FMRKT_WICCASH13', u'FMRKT_SFMNP13', u'PCT_FMRKT_SFMNP13',
       u'FMRKT_FRVEG13', u'PCT_FRMKT_FRVEG13', u'FMRKT_ANMLPROD13',
       u'PCT_FRMKT_ANMLPROD13', u'FMRKT_OTHER13', u'PCT_FMRKT_OTHER13',
       u'VEG_FARMS07', u'VEG_ACRES07', u'VEG_ACRESPTH07', u'FRESHVEG_FARMS07',
       u'FRESHVEG_ACRES07', u'FRESHVEG_ACRESPTH07', u'ORCHARD_FARMS07',
       u'ORCHARD_ACRES07', u'ORCHARD_ACRESPTH07', u'BERRY_FARMS07',
       u'BERRY_ACRES07', u'BERRY_ACRESPTH07', u'SLHOUSE07', u'GHVEG_FARMS07',
       u'GHVEG_SQFT07', u'GHVEG_SQFTPTH07', u'FOODHUB12', u'CSA07',
       u'AGRITRSM_OPS07', u'AGRITRSM_RCT07', u'FARM_TO_SCHOOL'],
      dtype='object')

In [5]:
pop.head()

,FIPS Code,State,County Name,"Population Estimate, 2007","Population Estimate, 2008","Population Estimate, 2009",2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012"
0,1001,AL,Autauga,49834,50354,50756,54571,55267,55514
1,1003,AL,Baldwin,172815,176212,179878,182265,186717,190790
2,1005,AL,Barbour,29736,29836,29737,27457,27119,27201
3,1007,AL,Bibb,21485,21589,21587,22915,22766,22597
4,1009,AL,Blount,56866,57794,58345,57322,57677,57826

In [6]:
pop.columns

Index([u'FIPS Code', u'State', u'County Name', u'Population Estimate, 2007',
       u'Population Estimate, 2008', u'Population Estimate, 2009',
       u'2010 Census Population', u'Population Estimate, 2011',
       u'Population Estimate, 2012'],
      dtype='object')

## Data Processing

In [15]:
veg_farms = local[['FIPS','State', 'County','VEG_ACRES07', 'FRESHVEG_ACRES07', 'GHVEG_FARMS07']]

In [16]:
veg_farms[veg_farms['FRESHVEG_ACRES07'].isnull() & ~veg_farms['VEG_ACRES07'].isnull()]

,FIPS,State,County,VEG_ACRES07,FRESHVEG_ACRES07,GHVEG_FARMS07
0,1001,AL,Autauga,948.0,NaN,0.0
1,1003,AL,Baldwin,2280.0,NaN,0.0
3,1007,AL,Bibb,65.0,NaN,0.0
5,1011,AL,Bullock,134.0,NaN,0.0
6,1013,AL,Butler,80.0,NaN,0.0
9,1019,AL,Cherokee,115.0,NaN,0.0
16,1033,AL,Colbert,61.0,NaN,1.0
20,1041,AL,Crenshaw,42.0,NaN,0.0
21,1043,AL,Cullman,1329.0,NaN,2.0
24,1049,AL,DeKalb,1152.0,NaN,2.0
25,1051,AL,Elmore,182.0,NaN,1.0
26,1053,AL,Escambia,43.0,NaN,0.0
28,1057,AL,Fayette,45.0,NaN,0.0
29,1059,AL,Franklin,92.0,NaN,0.0
30,1061,AL,Geneva,674.0,NaN,1.0
31,1063,AL,Greene,117.0,NaN,0.0
34,1069,AL,Houston,4289.0,NaN,0.0
35,1071,AL,Jackson,931.0,NaN,0.0
37,1075,AL,Lamar,50.0,NaN,0.0
38,1077,AL,Lauderdale,108.0,NaN,0.0
39,1079,AL,Lawrence,79.0,NaN,0.0
40,1081,AL,Lee,17.0,NaN,3.0
43,1087,AL,Macon,71.0,NaN,0.0
45,1091,AL,Marengo,100.0,NaN,0.0
49,1099,AL,Monroe,83.0,NaN,0.0
50,1101,AL,Montgomery,10.0,NaN,0.0
53,1107,AL,Pickens,44.0,NaN,0.0
54,1109,AL,Pike,95.0,NaN,2.0
57,1115,AL,St. Clair,585.0,NaN,1.0
61,1123,AL,Tallapoosa,15.0,NaN,0.0
...,...,...,...,...,...,...
2960,51810,VA,Virginia Beach,299.0,NaN,0.0
2997,53019,WA,Ferry,4.0,NaN,0.0
3005,53035,WA,Kitsap,111.0,NaN,16.0
3008,53041,WA,Lewis,3132.0,NaN,1.0
3010,53045,WA,Mason,83.0,NaN,1.0
3019,53063,WA,Spokane,1528.0,NaN,6.0
3020,53065,WA,Stevens,54.0,NaN,5.0
3025,53075,WA,Whitman,2443.0,NaN,0.0
3036,54019,WV,Fayette,8.0,NaN,0.0
3041,54029,WV,Hancock,30.0,NaN,0.0
3057,54061,WV,Monongalia,50.0,NaN,0.0
3066,54079,WV,Putnam,128.0,NaN,2.0
3068,54083,WV,Randolph,42.0,NaN,0.0
3077,54101,WV,Webster,6.0,NaN,0.0
3084,55005,WI,Barron,9971.0,NaN,2.0
3090,55017,WI,Chippewa,304.0,NaN,2.0
3098,55033,WI,Dunn,3984.0,NaN,3.0
3099,55035,WI,Eau Claire,1584.0,NaN,3.0
3106,55049,WI,Iowa,2457.0,NaN,9.0
3108,55053,WI,Jackson,184.0,NaN,2.0
3109,55055,WI,Jefferson,2668.0,NaN,1.0
3111,55059,WI,Kenosha,1251.0,NaN,2.0
3120,55077,WI,Marquette,2465.0,NaN,0.0
3122,55079,WI,Milwaukee,191.0,NaN,4.0
3123,55081,WI,Monroe,117.0,NaN,1.0
3125,55085,WI,Oneida,1933.0,NaN,0.0
3128,55091,WI,Pepin,209.0,NaN,1.0
3129,55093,WI,Pierce,231.0,NaN,4.0
3144,55123,WI,Vernon,330.0,NaN,10.0
3153,55141,WI,Wood,1185.0,NaN,2.0

In [17]:
non_na_vegetables = veg_farms.dropna()

In [18]:
non_na_vegetables['VEG_ACRES07'].sum() #Acres harvested in 2007

3740457.0

In [19]:
tons_per_acre = 25727576./1784290. # Production in tons / Acres harvested - Source in references

In [20]:
non_na_vegetables['FRESHVEG_TONS07'] = non_na_vegetables['FRESHVEG_ACRES07'] * tons_per_acre

/Library/Python/2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [21]:
non_na_vegetables.FIPS = non_na_vegetables.FIPS.astype(int)

In [71]:
vegetables = pd.DataFrame(veg_farms['FIPS'])
vegetables = pd.merge(vegetables, non_na_vegetables, on='FIPS', how='left')
vegetables = pd.merge(vegetables, pop, left_on='FIPS', right_on='FIPS Code')

In [72]:
vegetables.drop(vegetables.columns[[11,12,13,14,15]], inplace=True, axis=1)
vegetables.drop(['State_x', 'County','FIPS Code'], axis=1, inplace=True)

In [73]:
avg_per_capita_food_consumption = 0.2075

In [74]:
vegetables['VEG_CONSUMPTION_TONS07'] = vegetables['Population Estimate, 2007'] * avg_per_capita_food_consumption

In [75]:
vegetables.FRESHVEG_TONS07.fillna(0.0, inplace=True)

In [76]:
vegetables['SURPLUS'] = vegetables['FRESHVEG_TONS07'] - vegetables['VEG_CONSUMPTION_TONS07']

In [77]:
vegetables.rename(columns={'FRESHVEG_TONS07' : 'VEG_PRODUCTION_TONS07'}, inplace=True)

In [78]:
vegetables

,FIPS,VEG_ACRES07,FRESHVEG_ACRES07,GHVEG_FARMS07,VEG_PRODUCTION_TONS07,State_y,County Name,"Population Estimate, 2007",VEG_CONSUMPTION_TONS07,SURPLUS
0,1001,NaN,NaN,NaN,0.000000,AL,Autauga,49834,10340.5550,-10340.555000
1,1003,NaN,NaN,NaN,0.000000,AL,Baldwin,172815,35859.1125,-35859.112500
2,1005,32.0,30.0,0.0,432.568293,AL,Barbour,29736,6170.2200,-5737.651707
3,1007,NaN,NaN,NaN,0.000000,AL,Bibb,21485,4458.1375,-4458.137500
4,1009,585.0,581.0,2.0,8377.405946,AL,Blount,56866,11799.6950,-3422.289054
5,1011,NaN,NaN,NaN,0.000000,AL,Bullock,10966,2275.4450,-2275.445000
6,1013,NaN,NaN,NaN,0.000000,AL,Butler,20243,4200.4225,-4200.422500
7,1015,46.0,38.0,0.0,547.919838,AL,Calhoun,112808,23407.6600,-22859.740162
8,1017,39.0,39.0,1.0,562.338781,AL,Chambers,34731,7206.6825,-6644.343719
9,1019,NaN,NaN,NaN,0.000000,AL,Cherokee,24474,5078.3550,-5078.355000
10,1021,411.0,407.0,0.0,5868.509845,AL,Chilton,42362,8790.1150,-2921.605155
11,1023,52.0,52.0,0.0,749.785042,AL,Choctaw,14178,2941.9350,-2192.149958
12,1025,46.0,46.0,0.0,663.271383,AL,Clarke,26416,5481.3200,-4818.048617
13,1027,NaN,NaN,NaN,0.000000,AL,Clay,13772,2857.6900,-2857.690000
14,1029,17.0,17.0,0.0,245.122033,AL,Cleburne,14692,3048.5900,-2803.467967
15,1031,126.0,126.0,0.0,1816.786832,AL,Coffee,46806,9712.2450,-7895.458168
16,1033,NaN,NaN,NaN,0.000000,AL,Colbert,54606,11330.7450,-11330.745000
17,1035,73.0,62.0,0.0,893.974473,AL,Conecuh,13118,2721.9850,-1828.010527
18,1037,12.0,12.0,0.0,173.027317,AL,Coosa,10783,2237.4725,-2064.445183
19,1039,40.0,38.0,0.0,547.919838,AL,Covington,36804,7636.8300,-7088.910162
20,1041,NaN,NaN,NaN,0.000000,AL,Crenshaw,13741,2851.2575,-2851.257500
21,1043,NaN,NaN,NaN,0.000000,AL,Cullman,80602,16724.9150,-16724.915000
22,1045,58.0,58.0,0.0,836.298700,AL,Dale,48263,10014.5725,-9178.273800
23,1047,399.0,399.0,0.0,5753.158301,AL,Dallas,42780,8876.8500,-3123.691699
24,1049,NaN,NaN,NaN,0.000000,AL,DeKalb,68275,14167.0625,-14167.062500
25,1051,NaN,NaN,NaN,0.000000,AL,Elmore,77459,16072.7425,-16072.742500
26,1053,NaN,NaN,NaN,0.000000,AL,Escambia,37623,7806.7725,-7806.772500
27,1055,513.0,513.0,0.0,7396.917815,AL,Etowah,103216,21417.3200,-14020.402185
28,1057,NaN,NaN,NaN,0.000000,AL,Fayette,17538,3639.1350,-3639.135000
29,1059,NaN,NaN,NaN,0.000000,AL,Franklin,30627,6355.1025,-6355.102500
...,...,...,...,...,...,...,...,...,...,...
3113,55129,209.0,209.0,0.0,3013.559110,WI,Washburn,16576,3439.5200,-425.960890
3114,55131,1874.0,352.0,1.0,5075.467974,WI,Washington,128211,26603.7825,-21528.314526
3115,55133,597.0,597.0,2.0,8608.109036,WI,Waukesha,379020,78646.6500,-70038.540964
3116,55135,4502.0,815.0,2.0,11751.438634,WI,Waupaca,52032,10796.6400,954.798634
3117,55137,27364.0,2269.0,3.0,32716.581914,WI,Waushara,24679,5120.8925,27595.689414
3118,55139,1179.0,139.0,2.0,2004.233092,WI,Winnebago,161470,33505.0250,-31500.791908
3119,55141,NaN,NaN,NaN,0.000000,WI,Wood,73827,15319.1025,-15319.102500
3120,56001,NaN,NaN,NaN,0.000000,WY,Albany,32479,6739.3925,-6739.392500
3121,56003,2.0,2.0,0.0,28.837886,WY,Big Horn,11375,2360.3125,-2331.474614
3122,56005,NaN,NaN,NaN,0.000000,WY,Campbell,40462,8395.8650,-8395.865000
3123,56007,0.0,0.0,0.0,0.000000,WY,Carbon,15397,3194.8775,-3194.877500
3124,56009,NaN,NaN,NaN,0.000000,WY,Converse,12874,2671.3550,-2671.355000
3125,56011,NaN,NaN,NaN,0.000000,WY,Crook,6373,1322.3975,-1322.397500
3126,56013,35.0,35.0,1.0,504.663009,WY,Fremont,37368,7753.8600,-7249.196991
3127,56015,NaN,NaN,NaN,0.000000,WY,Goshen,12078,2506.1850,-2506.185000
3128,56017,NaN,NaN,NaN,0.000000,WY,Hot Springs,4501,933.9575,-933.957500
3129,56019,0.0,0.0,0.0,0.000000,WY,Johnson,8094,1679.5050,-1679.505000
3130,56021,NaN,NaN,NaN,0.000000,WY,Laramie,86601,17969.7075,-17969.707500
3131,56023,8.0,8.0,3.0,115.351545,WY,Lincoln,16178,3356.9350,-3241.583455
3132,56025,NaN,NaN,NaN,0.000000,WY,Natrona,71817,14902.0275,-14902.027500
3133,56027,NaN,NaN,NaN,0.000000,WY,Niobrara,2337,484.9275,-484.927500
3134,56029,8.0,8.0,0.0,115.351545,WY,Park,27214,5646.9050,-5531.553455
3135,56031,NaN,NaN,NaN,0.000000,WY,Platte,8367,1736.1525,-1736.152500
3136,56033,16.0,16.0,0.0,230.703090,WY,Sheridan,27947,5799.0025,-5568.299410
3137,56035,0.0,0.0,1.0,0.000000,WY,Sublette,7838,1626.3850,-1626.385000
3138,56037,0.0,0.0,0.0,0.000000,WY,Sweetwater,39320,8158.9000,-8158.900000
3139,56039,0.0,0.0,0.0,0.000000,WY,Teton,20073,4165.1475,-4165.147500
3140,56041,0.0,0.0,0.0,0.000000,WY,Uinta,20071,4164.7325,-4164.732500
3141,56043,0.0,0.0,0.0,0.000000,WY,Washakie,7805,1619.5375,-1619.537500
3142,56045,0.0,0.0,0.0,0.000000,WY,Weston,6845,1420.3375,-1420.337500

In [80]:
vegetables.to_csv('data/surplus.csv', index=False)