In [25]:
import pandas as pd
from math import sin, cos, sqrt, atan2, radians
import geopandas as gp
import numpy as np

In [5]:
surplus = pd.read_csv('data/surplus.csv')
distance_matrix = pd.DataFrame([],columns=['county_A','county_B','distance'])
surplus = surplus[:10]

In [8]:
surplus

,FIPS,VEG_ACRES07,FRESHVEG_ACRES07,GHVEG_FARMS07,VEG_PRODUCTION_TONS07,State_y,County Name,"Population Estimate, 2007",VEG_CONSUMPTION_TONS07,SURPLUS,COUNTY,geometry,lon,lat
0,1001,NaN,NaN,NaN,0.000000,AL,Autauga,49834,10340.5550,-10340.555000,1001,"POLYGON ((-86.524693 32.707057, -86.524434 32....",-86.642746,32.534927
1,1003,NaN,NaN,NaN,0.000000,AL,Baldwin,172815,35859.1125,-35859.112500,1003,"POLYGON ((-87.4124710380697 30.573861767419, -...",-87.722563,30.727574
2,1005,32.0,30.0,0.0,432.568293,AL,Barbour,29736,6170.2200,-5737.651707,1005,"POLYGON ((-85.1328473916616 31.8003700328662, ...",-85.393229,31.869561
3,1007,NaN,NaN,NaN,0.000000,AL,Bibb,21485,4458.1375,-4458.137500,1007,"POLYGON ((-87.116315 32.835597, -87.155294 32....",-87.126466,32.998632
4,1009,585.0,581.0,2.0,8377.405946,AL,Blount,56866,11799.6950,-3422.289054,1009,"POLYGON ((-86.73121499999999 34.014697, -86.72...",-86.567382,33.980870
5,1011,NaN,NaN,NaN,0.000000,AL,Bullock,10966,2275.4450,-2275.445000,1011,"POLYGON ((-85.742092 31.880393, -85.7906299999...",-85.715679,32.100535
6,1013,NaN,NaN,NaN,0.000000,AL,Butler,20243,4200.4225,-4200.422500,1013,"POLYGON ((-86.447401 31.864791, -86.446619 31....",-86.680300,31.752447
7,1015,46.0,38.0,0.0,547.919838,AL,Calhoun,112808,23407.6600,-22859.740162,1015,"POLYGON ((-85.814674 33.948001, -85.811413 33....",-85.826016,33.771437
8,1017,39.0,39.0,1.0,562.338781,AL,Chambers,34731,7206.6825,-6644.343719,1017,"POLYGON ((-85.1848884238249 32.863446106048, -...",-85.392382,32.914477
9,1019,NaN,NaN,NaN,0.000000,AL,Cherokee,24474,5078.3550,-5078.355000,1019,"POLYGON ((-85.444715014064 34.1999256811405, -...",-85.603795,34.175923

In [6]:
def distance_geog(lat1,lon1,lat2,lon2):
    # http://stackoverflow.com/questions/19412462/getting-distance-between-two-points-based-on-latitude-longitude-python
    # approximate radius of earth in miles
    R = 3959.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c

    return distance

In [31]:
for index,county_A in surplus.iterrows():
    for index,county_B in surplus.iterrows():
        d_g = distance_geog(county_A['lat'],county_A['lon'],county_B['lat'],county_B['lon'])
        #distance_matrix = distance_matrix.append(pd.DataFrame([county_A['County Name'],county_B['County Name'],d_g],columns=['county_A','county_B','distance']))
        cl = {'county_A': county_A['County Name'],'county_B': county_B['County Name'],'distance': d_g}
        print(cl.values())
        distance_matrix = distance_matrix.append(pd.DataFrame(data=np.array(cl.values()).reshape(1,3),columns=['county_A','county_B','distance']))
        
        #distance_matrix['county_B'].append(county_B['County Name'])
        #distance_matrix['distance'].append(distance_geog(county_A['lat'],county_A['lon'],county_B['lat'],county_B['lon']))
            #distance_matrix['county_A'] = county_A['County Name']
            #distance_matrix['county_B'] = county_B['County Name']
            #distance_matrix['distance'] = distance_geog(county_A['lat'],county_A['lon'],county_B['lat'],county_B['lon'])

[0.0, 'Autauga', 'Autauga']
[140.11079346591237, 'Baldwin', 'Autauga']
[86.31861617870982, 'Barbour', 'Autauga']
[42.62073524886435, 'Bibb', 'Autauga']
[100.00601635509491, 'Blount', 'Autauga']
[61.89914374271034, 'Bullock', 'Autauga']
[54.112120526983254, 'Butler', 'Autauga']
[97.63228739397941, 'Calhoun', 'Autauga']
[77.27009553957285, 'Chambers', 'Autauga']
[128.26564363649058, 'Cherokee', 'Autauga']
[140.11079346591237, 'Autauga', 'Baldwin']
[0.0, 'Baldwin', 'Baldwin']
[158.5515532813145, 'Barbour', 'Baldwin']
[160.77541351434377, 'Bibb', 'Baldwin']
[234.68406822272286, 'Blount', 'Baldwin']
[151.6696565704566, 'Bullock', 'Baldwin']
[93.84147475841677, 'Butler', 'Baldwin']
[237.7240773524924, 'Calhoun', 'Baldwin']
[203.82712622166977, 'Chambers', 'Baldwin']
[268.375258693987, 'Cherokee', 'Baldwin']
[86.31861617870982, 'Autauga', 'Barbour']
[158.5515532813145, 'Baldwin', 'Barbour']
[0.0, 'Barbour', 'Barbour']
[127.68259768379592, 'Bibb', 'Barbour']
[160.99435837332152, 'Blount', 'Barbour']
[24.735571226963316, 'Bullock', 'Barbour']
[76.00651390588702, 'Butler', 'Barbour']
[133.79587076592787, 'Calhoun', 'Barbour']
[72.20117431121183, 'Chambers', 'Barbour']
[159.83008609403103, 'Cherokee', 'Barbour']
[42.62073524886435, 'Autauga', 'Bibb']
[160.77541351434377, 'Baldwin', 'Bibb']
[127.68259768379592, 'Barbour', 'Bibb']
[0.0, 'Bibb', 'Bibb']
[75.12862577692688, 'Blount', 'Bibb']
[102.96847953747597, 'Bullock', 'Bibb']
[89.95840492806563, 'Butler', 'Bibb']
[92.09112459363541, 'Calhoun', 'Bibb']
[100.70670937341372, 'Chambers', 'Bibb']
[119.57724011035724, 'Cherokee', 'Bibb']
[100.00601635509491, 'Autauga', 'Blount']
[234.68406822272286, 'Baldwin', 'Blount']
[160.99435837332152, 'Barbour', 'Blount']
[75.12862577692688, 'Bibb', 'Blount']
[0.0, 'Blount', 'Blount']
[138.9755375109399, 'Bullock', 'Blount']
[154.11803503501253, 'Butler', 'Blount']
[44.92500678613144, 'Calhoun', 'Blount']
[100.09181327787307, 'Chambers', 'Blount']
[56.770361583129116, 'Cherokee', 'Blount']
[61.89914374271034, 'Autauga', 'Bullock']
[151.6696565704566, 'Baldwin', 'Bullock']
[24.735571226963316, 'Barbour', 'Bullock']
[102.96847953747597, 'Bibb', 'Bullock']
[138.9755375109399, 'Blount', 'Bullock']
[0.0, 'Bullock', 'Bullock']
[61.47071510004117, 'Butler', 'Bullock']
[115.63240483559778, 'Calhoun', 'Bullock']
[59.312668271632845, 'Chambers', 'Bullock']
[143.5502602646729, 'Cherokee', 'Bullock']
[54.112120526983254, 'Autauga', 'Butler']
[93.84147475841677, 'Baldwin', 'Butler']
[76.00651390588702, 'Barbour', 'Butler']
[89.95840492806563, 'Bibb', 'Butler']
[154.11803503501253, 'Blount', 'Butler']
[61.47071510004117, 'Bullock', 'Butler']
[0.0, 'Butler', 'Butler']
[148.0734490476481, 'Calhoun', 'Butler']
[110.00300900168236, 'Chambers', 'Butler']
[178.70409355075907, 'Cherokee', 'Butler']
[97.63228739397941, 'Autauga', 'Calhoun']
[237.7240773524924, 'Baldwin', 'Calhoun']
[133.79587076592787, 'Barbour', 'Calhoun']
[92.09112459363541, 'Bibb', 'Calhoun']
[44.92500678613144, 'Blount', 'Calhoun']
[115.63240483559778, 'Bullock', 'Calhoun']
[148.0734490476481, 'Butler', 'Calhoun']
[0.0, 'Calhoun', 'Calhoun']
[64.28687905002174, 'Chambers', 'Calhoun']
[30.713087881902933, 'Cherokee', 'Calhoun']
[77.27009553957285, 'Autauga', 'Chambers']
[203.82712622166977, 'Baldwin', 'Chambers']
[72.20117431121183, 'Barbour', 'Chambers']
[100.70670937341372, 'Bibb', 'Chambers']
[100.09181327787307, 'Blount', 'Chambers']
[59.312668271632845, 'Bullock', 'Chambers']
[110.00300900168236, 'Butler', 'Chambers']
[64.28687905002174, 'Calhoun', 'Chambers']
[0.0, 'Chambers', 'Chambers']
[88.00897792930841, 'Cherokee', 'Chambers']
[128.26564363649058, 'Autauga', 'Cherokee']
[268.375258693987, 'Baldwin', 'Cherokee']
[159.83008609403103, 'Barbour', 'Cherokee']
[119.57724011035724, 'Bibb', 'Cherokee']
[56.770361583129116, 'Blount', 'Cherokee']
[143.5502602646729, 'Bullock', 'Cherokee']
[178.70409355075907, 'Butler', 'Cherokee']
[30.713087881902933, 'Calhoun', 'Cherokee']
[88.00897792930841, 'Chambers', 'Cherokee']
[0.0, 'Cherokee', 'Cherokee']