In [1]:
import pandas as pd
import numpy as np

In [2]:
surplus = pd.read_csv('data/surplus.csv',usecols=[u'FIPS',  u'County Name',u'SURPLUS',
       u'COUNTY_x'])
distance_matrix = pd.read_csv('data/distance_matrix.csv')

In [3]:
surplus.columns

Index([u'FIPS', u'County Name', u'SURPLUS', u'COUNTY_x'], dtype='object')

In [4]:
surplus.head()

   FIPS County Name       SURPLUS  COUNTY_x
0  1001     Autauga -10340.555000      1001
1  1003     Baldwin -35859.112500      1003
2  1005     Barbour  -5737.651707      1005
3  1007        Bibb  -4458.137500      1007
4  1009      Blount  -3422.289054      1009

In [5]:
surplus['new_surplus'] = surplus.SURPLUS

In [6]:
distance_matrix = distance_matrix.set_index('county_A')[['county_B','distance']]

In [7]:
distance_matrix = distance_matrix[distance_matrix.distance != 0.0]

In [8]:
distance_matrix

             county_B    distance
county_A
Autauga       Baldwin  140.370274
Autauga       Barbour   86.545903
Autauga          Bibb   42.446217
Autauga        Blount  100.213979
Autauga       Bullock   62.169643
Autauga        Butler   54.167414
Autauga       Calhoun   97.999915
Autauga      Chambers   77.224515
Autauga      Cherokee  128.194864
Autauga       Chilton   22.179545
Autauga       Choctaw  101.226122
Autauga        Clarke   91.425982
Autauga          Clay   67.844735
Autauga      Cleburne  101.706589
Autauga        Coffee   87.206351
Autauga       Colbert  163.948630
Autauga       Conecuh   78.982843
Autauga         Coosa   35.671540
Autauga     Covington   89.741867
Autauga      Crenshaw   58.714611
Autauga       Cullman  110.806065
Autauga          Dale   97.364412
Autauga        Dallas   30.803426
Autauga        DeKalb  141.183131
Autauga        Elmore   29.191888
Autauga      Escambia  102.062317
Autauga        Etowah  110.079931
Autauga       Fayette  103.631412
Autauga      Franklin  148.811083
Autauga        Geneva  110.159050
...               ...         ...
Weston       Walworth  809.267599
Weston       Washburn  640.897161
Weston     Washington  816.734602
Weston       Waukesha  816.738278
Weston        Waupaca  773.509805
Weston       Waushara  761.115452
Weston      Winnebago  790.953113
Weston           Wood  720.528893
Weston         Albany  161.911493
Weston       Big Horn  176.283304
Weston       Campbell   56.282571
Weston         Carbon  190.658017
Weston       Converse   76.185764
Weston          Crook   51.707267
Weston        Fremont  211.201395
Weston         Goshen  121.529035
Weston    Hot Springs  193.385895
Weston        Johnson  101.279561
Weston        Laramie  175.103904
Weston        Lincoln  326.034561
Weston        Natrona  127.386651
Weston       Niobrara   54.336451
Weston           Park  253.069903
Weston         Platte  119.673133
Weston       Sheridan  132.087076
Weston       Sublette  278.762834
Weston     Sweetwater  265.556622
Weston          Teton  299.886891
Weston          Uinta  351.619958
Weston       Washakie  155.187133

[9875306 rows x 2 columns]

In [17]:
distance_matrix.ix['Autauga'].sort_values(by='distance')

                      county_B     distance
county_A
Autauga                Chilton    22.179545
Autauga                Lowndes    26.035674
Autauga                 Elmore    29.191888
Autauga                 Dallas    30.803426
Autauga             Montgomery    33.672555
Autauga                  Coosa    35.671540
Autauga                  Perry    38.925541
Autauga                   Bibb    42.446217
Autauga                 Shelby    50.375174
Autauga             Tallapoosa    54.141268
Autauga                 Butler    54.167414
Autauga                 Wilcox    54.255829
Autauga                  Macon    56.434428
Autauga               Crenshaw    58.714611
Autauga                   Hale    59.709979
Autauga                Bullock    62.169643
Autauga              Talladega    64.293852
Autauga                   Pike    65.080173
Autauga                   Clay    67.844735
Autauga                Marengo    69.694819
Autauga              Jefferson    71.840667
Autauga             Tuscaloosa    72.980190
Autauga                    Lee    75.124230
Autauga               Chambers    77.224515
Autauga                Conecuh    78.982843
Autauga                 Monroe    79.254482
Autauga                 Greene    79.353571
Autauga              St. Clair    83.909576
Autauga               Randolph    86.168766
Autauga                Barbour    86.545903
...                        ...          ...
Autauga             Petersburg  2758.226496
Autauga                 Juneau  2826.103446
Autauga                  Sitka  2839.336864
Autauga          Hoonah-Angoon  2858.660522
Autauga                 Haines  2883.425453
Autauga                Skagway  2887.304774
Autauga                Yakutat  3062.068199
Autauga    Southeast Fairbanks  3218.187570
Autauga         Valdez-Cordova  3222.882405
Autauga   Fairbanks North Star  3330.636230
Autauga              Anchorage  3370.574879
Autauga      Matanuska-Susitna  3393.806732
Autauga                 Denali  3419.223922
Autauga        Kenai Peninsula  3447.462179
Autauga          Yukon-Koyukuk  3476.840493
Autauga          Kodiak Island  3522.759224
Autauga            North Slope  3568.865735
Autauga     Lake and Peninsula  3608.433214
Autauga            Bristol Bay  3626.723267
Autauga             Dillingham  3675.853702
Autauga       Northwest Arctic  3715.839675
Autauga                 Bethel  3727.750569
Autauga           Wade Hampton  3837.350727
Autauga                   Nome  3841.061149
Autauga         Aleutians East  3847.588273
Autauga                 Hawaii  4296.937304
Autauga                   Maui  4317.784692
Autauga                Kalawao  4330.201204
Autauga               Honolulu  4380.267455
Autauga                  Kauai  4455.374075

[3142 rows x 2 columns]

In [40]:
for index,county in surplus.iterrows():
    deficit = surplus.SURPLUS[index]
    county_A = county['County Name']
    if deficit < 0.0:
        nearest_counties = distance_matrix.ix[county_A].sort_values(by='distance')
        for indexB,row in nearest_counties.iterrows():
            print(surplus[surplus['County Name']==row.county_B]['SURPLUS'])
            try: 
                vd = float(surplus[surplus['County Name']==row.county_B]['SURPLUS'])>0.
                
            except TypeError:
                vd = float(surplus[surplus['County Name']==row.county_B]['SURPLUS'][0])>0.
            except KeyError:
                vd = float(surplus[surplus['County Name']==row.county_B]['SURPLUS'])>0.
            if vd:
                print("Hello")
#            distance_matrix.ix[county_A].sort_values(by='distance')
#            # Update deficit and surplus on the data frame. This will make it dependent on the alphabet.
#            deficit -=

10   -2921.605155
Name: SURPLUS, dtype: float64
42      -2195.211707
478      2137.473792
1444   -10476.974896
Name: SURPLUS, dtype: float64

KeyError: 0

In [22]:
nearest_counties

             county_B     distance
county_A
Lee            Harlan    11.816550
Lee            Owsley    11.985582
Lee           Hancock    13.800834
Lee            Estill    14.956154
Lee             Wolfe    15.707405
Lee           Chatham    16.492170
Lee       St. Francis    16.563626
Lee            Powell    17.070813
Lee           Terrell    17.586117
Lee         Dougherty    17.824953
Lee            Sumter    18.137285
Lee          Itawamba    18.328359
Lee           Harnett    18.641132
Lee            Sumter    18.823913
Lee           Jackson    19.790082
Lee              Ogle    20.521304
Lee          Pontotoc    20.772671
Lee             Clark    20.825083
Lee           Hawkins    20.875052
Lee        Darlington    20.974481
Lee             Moore    21.008496
Lee         Breathitt    21.629621
Lee          Chambers    21.731702
Lee           Kershaw    22.335738
Lee         Charlotte    23.015041
Lee             Union    23.185442
Lee           Hancock    23.198404
Lee             Worth    23.512646
Lee           Russell    23.679803
Lee             Crisp    24.018673
...               ...          ...
Lee           Kalawao  4443.747387
Lee            Hawaii  4448.412773
Lee          Honolulu  4453.430035
Lee            Hawaii  4463.728814
Lee              Maui  4470.204044
Lee              Maui  4474.986137
Lee           Kalawao  4482.858974
Lee           Kalawao  4484.664892
Lee          Honolulu  4488.622768
Lee             Kauai  4528.120921
Lee          Honolulu  4530.349151
Lee          Honolulu  4533.271351
Lee             Kauai  4554.720498
Lee             Kauai  4597.815421
Lee             Kauai  4608.916617
Lee            Hawaii  4646.659488
Lee            Hawaii  4646.939629
Lee              Maui  4662.727698
Lee           Kalawao  4673.662745
Lee              Maui  4678.157863
Lee           Kalawao  4693.466708
Lee            Hawaii  4693.871074
Lee              Maui  4706.686663
Lee           Kalawao  4716.770726
Lee          Honolulu  4721.348203
Lee          Honolulu  4747.821072
Lee          Honolulu  4763.078502
Lee             Kauai  4792.179264
Lee             Kauai  4830.313946
Lee             Kauai  4831.510583

[37704 rows x 2 columns]