In [70]:
import pandas as pd
import numpy as np
import shapefile as shp
import geopandas as gp

## Solution
Identifying where there needs to be more focus on local production of food (vegetables in this case).

## Steps


- Load population of per county in the USA

- Load production of vegetables per county in the USA

- Load average vegetables consumption per county.

- Subtract production and consumption. There will be surplus and deficit.

- Find a way to match surplus and deficit, and to penalize for the distance.

## Assumptions

- Yield per acre is uniform accross farms.

## Data Exploration

In [39]:
local = pd.read_excel('data/DataDownload.xls',sheetname='LOCAL')
pop = pd.read_excel('data/DataDownload.xls', sheetname='Supplemental Data - County')

In [40]:
local.head()

,FIPS,State,County,DIRSALES_FARMS07,PCT_LOCLFARM07,PCT_LOCLSALE07,DIRSALES07,PC_DIRSALES07,FMRKT09,FMRKT13,...,BERRY_ACRESPTH07,SLHOUSE07,GHVEG_FARMS07,GHVEG_SQFT07,GHVEG_SQFTPTH07,FOODHUB12,CSA07,AGRITRSM_OPS07,AGRITRSM_RCT07,FARM_TO_SCHOOL
0,1001,AL,Autauga,25.0,6.0,0.6,100.0,2.01,2.0,1.0,...,NaN,0.0,0.0,0.0,0.0,0.0,2.0,7.0,228000.0,0.0
1,1003,AL,Baldwin,80.0,7.0,0.7,715.0,4.16,4.0,4.0,...,0.457136,1.0,0.0,0.0,0.0,0.0,13.0,18.0,124000.0,0.0
2,1005,AL,Barbour,18.0,2.9,0.0,11.0,0.37,2.0,3.0,...,NaN,0.0,0.0,0.0,0.0,0.0,1.0,27.0,163000.0,0.0
3,1007,AL,Bibb,12.0,5.7,NaN,46.0,2.14,1.0,1.0,...,0.279265,0.0,0.0,0.0,0.0,0.0,2.0,5.0,NaN,0.0
4,1009,AL,Blount,84.0,5.9,0.3,429.0,7.59,1.0,1.0,...,0.492386,0.0,2.0,NaN,NaN,0.0,7.0,10.0,293000.0,0.0

In [41]:
local.columns

Index([u'FIPS', u'State', u'County', u'DIRSALES_FARMS07', u'PCT_LOCLFARM07',
       u'PCT_LOCLSALE07', u'DIRSALES07', u'PC_DIRSALES07', u'FMRKT09',
       u'FMRKT13', u'PCH_FMRKT_09_13', u'FMRKTPTH09', u'FMRKTPTH13',
       u'PCH_FMRKTPTH_09_13', u'FMRKT_SNAP13', u'PCT_FMRKT_SNAP13',
       u'FMRKT_WIC13', u'PCT_FMRKT_WIC13', u'FMRKT_WICCASH13',
       u'PCT_FMRKT_WICCASH13', u'FMRKT_SFMNP13', u'PCT_FMRKT_SFMNP13',
       u'FMRKT_FRVEG13', u'PCT_FRMKT_FRVEG13', u'FMRKT_ANMLPROD13',
       u'PCT_FRMKT_ANMLPROD13', u'FMRKT_OTHER13', u'PCT_FMRKT_OTHER13',
       u'VEG_FARMS07', u'VEG_ACRES07', u'VEG_ACRESPTH07', u'FRESHVEG_FARMS07',
       u'FRESHVEG_ACRES07', u'FRESHVEG_ACRESPTH07', u'ORCHARD_FARMS07',
       u'ORCHARD_ACRES07', u'ORCHARD_ACRESPTH07', u'BERRY_FARMS07',
       u'BERRY_ACRES07', u'BERRY_ACRESPTH07', u'SLHOUSE07', u'GHVEG_FARMS07',
       u'GHVEG_SQFT07', u'GHVEG_SQFTPTH07', u'FOODHUB12', u'CSA07',
       u'AGRITRSM_OPS07', u'AGRITRSM_RCT07', u'FARM_TO_SCHOOL'],
      dtype='object')

In [42]:
pop.head()

,FIPS Code,State,County Name,"Population Estimate, 2007","Population Estimate, 2008","Population Estimate, 2009",2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012"
0,1001,AL,Autauga,49834,50354,50756,54571,55267,55514
1,1003,AL,Baldwin,172815,176212,179878,182265,186717,190790
2,1005,AL,Barbour,29736,29836,29737,27457,27119,27201
3,1007,AL,Bibb,21485,21589,21587,22915,22766,22597
4,1009,AL,Blount,56866,57794,58345,57322,57677,57826

In [43]:
pop.columns

Index([u'FIPS Code', u'State', u'County Name', u'Population Estimate, 2007',
       u'Population Estimate, 2008', u'Population Estimate, 2009',
       u'2010 Census Population', u'Population Estimate, 2011',
       u'Population Estimate, 2012'],
      dtype='object')

In [44]:
county = gp.GeoDataFrame.from_file('data/gz_2010_us_050_00_500k.shp')

In [45]:
county.columns

Index([u'CENSUSAREA', u'COUNTY', u'GEO_ID', u'LSAD', u'NAME', u'STATE',
       u'geometry'],
      dtype='object')

## Data Processing

### Vegetable

In [46]:
veg_farms = local[['FIPS','State', 'County','VEG_ACRES07', 'FRESHVEG_ACRES07', 'GHVEG_FARMS07']]

In [47]:
veg_farms[veg_farms['FRESHVEG_ACRES07'].isnull() & ~veg_farms['VEG_ACRES07'].isnull()]

,FIPS,State,County,VEG_ACRES07,FRESHVEG_ACRES07,GHVEG_FARMS07
0,1001,AL,Autauga,948.0,NaN,0.0
1,1003,AL,Baldwin,2280.0,NaN,0.0
3,1007,AL,Bibb,65.0,NaN,0.0
5,1011,AL,Bullock,134.0,NaN,0.0
6,1013,AL,Butler,80.0,NaN,0.0
9,1019,AL,Cherokee,115.0,NaN,0.0
16,1033,AL,Colbert,61.0,NaN,1.0
20,1041,AL,Crenshaw,42.0,NaN,0.0
21,1043,AL,Cullman,1329.0,NaN,2.0
24,1049,AL,DeKalb,1152.0,NaN,2.0
25,1051,AL,Elmore,182.0,NaN,1.0
26,1053,AL,Escambia,43.0,NaN,0.0
28,1057,AL,Fayette,45.0,NaN,0.0
29,1059,AL,Franklin,92.0,NaN,0.0
30,1061,AL,Geneva,674.0,NaN,1.0
31,1063,AL,Greene,117.0,NaN,0.0
34,1069,AL,Houston,4289.0,NaN,0.0
35,1071,AL,Jackson,931.0,NaN,0.0
37,1075,AL,Lamar,50.0,NaN,0.0
38,1077,AL,Lauderdale,108.0,NaN,0.0
39,1079,AL,Lawrence,79.0,NaN,0.0
40,1081,AL,Lee,17.0,NaN,3.0
43,1087,AL,Macon,71.0,NaN,0.0
45,1091,AL,Marengo,100.0,NaN,0.0
49,1099,AL,Monroe,83.0,NaN,0.0
50,1101,AL,Montgomery,10.0,NaN,0.0
53,1107,AL,Pickens,44.0,NaN,0.0
54,1109,AL,Pike,95.0,NaN,2.0
57,1115,AL,St. Clair,585.0,NaN,1.0
61,1123,AL,Tallapoosa,15.0,NaN,0.0
...,...,...,...,...,...,...
2960,51810,VA,Virginia Beach,299.0,NaN,0.0
2997,53019,WA,Ferry,4.0,NaN,0.0
3005,53035,WA,Kitsap,111.0,NaN,16.0
3008,53041,WA,Lewis,3132.0,NaN,1.0
3010,53045,WA,Mason,83.0,NaN,1.0
3019,53063,WA,Spokane,1528.0,NaN,6.0
3020,53065,WA,Stevens,54.0,NaN,5.0
3025,53075,WA,Whitman,2443.0,NaN,0.0
3036,54019,WV,Fayette,8.0,NaN,0.0
3041,54029,WV,Hancock,30.0,NaN,0.0
3057,54061,WV,Monongalia,50.0,NaN,0.0
3066,54079,WV,Putnam,128.0,NaN,2.0
3068,54083,WV,Randolph,42.0,NaN,0.0
3077,54101,WV,Webster,6.0,NaN,0.0
3084,55005,WI,Barron,9971.0,NaN,2.0
3090,55017,WI,Chippewa,304.0,NaN,2.0
3098,55033,WI,Dunn,3984.0,NaN,3.0
3099,55035,WI,Eau Claire,1584.0,NaN,3.0
3106,55049,WI,Iowa,2457.0,NaN,9.0
3108,55053,WI,Jackson,184.0,NaN,2.0
3109,55055,WI,Jefferson,2668.0,NaN,1.0
3111,55059,WI,Kenosha,1251.0,NaN,2.0
3120,55077,WI,Marquette,2465.0,NaN,0.0
3122,55079,WI,Milwaukee,191.0,NaN,4.0
3123,55081,WI,Monroe,117.0,NaN,1.0
3125,55085,WI,Oneida,1933.0,NaN,0.0
3128,55091,WI,Pepin,209.0,NaN,1.0
3129,55093,WI,Pierce,231.0,NaN,4.0
3144,55123,WI,Vernon,330.0,NaN,10.0
3153,55141,WI,Wood,1185.0,NaN,2.0

In [48]:
non_na_vegetables = veg_farms.dropna()

In [49]:
non_na_vegetables['VEG_ACRES07'].sum() #Acres harvested in 2007

3740457.0

In [50]:
tons_per_acre = 25727576./1784290. # Production in tons / Acres harvested - Source in references

In [51]:
non_na_vegetables['FRESHVEG_TONS07'] = non_na_vegetables['FRESHVEG_ACRES07'] * tons_per_acre

/Library/Python/2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [52]:
non_na_vegetables.FIPS = non_na_vegetables.FIPS.astype(int)

In [53]:
vegetables = pd.DataFrame(veg_farms['FIPS'])
vegetables = pd.merge(vegetables, non_na_vegetables, on='FIPS', how='left')
vegetables = pd.merge(vegetables, pop, left_on='FIPS', right_on='FIPS Code') ## Adding population

In [54]:
vegetables.drop(vegetables.columns[[11,12,13,14,15]], inplace=True, axis=1)
vegetables.drop(['State_x', 'County','FIPS Code'], axis=1, inplace=True)

In [55]:
avg_per_capita_food_consumption = 0.2075

In [56]:
vegetables['VEG_CONSUMPTION_TONS07'] = vegetables['Population Estimate, 2007'] * avg_per_capita_food_consumption

In [57]:
vegetables.FRESHVEG_TONS07.fillna(0.0, inplace=True)

In [58]:
vegetables['SURPLUS'] = vegetables['FRESHVEG_TONS07'] - vegetables['VEG_CONSUMPTION_TONS07']

In [59]:
vegetables.rename(columns={'FRESHVEG_TONS07' : 'VEG_PRODUCTION_TONS07'}, inplace=True)

In [60]:
vegetables.to_csv('data/surplus.csv', index=False)

### Geometry

In [61]:
county['CENTROID'] = county.geometry.centroid

In [62]:
county.COUNTY = county.COUNTY.astype(str)
county.STATE = county.STATE.astype(str)
county.COUNTY = county.STATE + county.COUNTY

In [63]:
county['lon'] = county.geometry.centroid.apply(lambda var:var.x)
county['lat'] = county.geometry.centroid.apply(lambda var:var.y)

In [64]:
county = county[['COUNTY','geometry', 'lon','lat']]

In [65]:
vegetables.FIPS = vegetables.FIPS.astype(str)

In [66]:
vegetables.FIPS = vegetables.FIPS.str.zfill(5)

In [67]:
vegetables.shape

(3143, 10)

In [68]:
vegetables = pd.merge(vegetables, county, left_on='FIPS', right_on='COUNTY')

In [69]:
vegetables.to_csv('data/surplus.csv', index=False)